<body  bgcolor="#D8B264">
    <br>
    <h1>{{title}}</h1>
    <h2>Bienvenido a la agenda: GRUPO VERMON</h2>

    <nav>
        <!--<a routerLink="/contactos">Lista de contactos</a> |
        <a routerLink="/contacto-agregar">Añadir nuevo contacto</a>-->
        <button mat-stroked-button color="primary" routerLink="/contactos">
            <mat-icon>
                list_alt
            </mat-icon>
            Lista de contactos
        </button> |
            <button mat-stroked-button color="primary" routerLink="/contacto-agregar">
                <mat-icon>
                    person_add
                </mat-icon>
                Añadir nuevo contacto
            </button>
    </nav>
    <br>
    <router-outlet></router-outlet>
</body>